@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 410px;
  margin-left: 55px;
  list-style-type:none;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  /* размер с запасом на элемент */
}

.user-menu {
  max-width: 270px;
  /* размер с запасом на элемент */
  margin-left: auto;
  margin-right: 72px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  /* не понимаю откуда у меня берутся мариджины сверху примерна по 1px */
}

.navigation-logo {
  margin:auto;
  margin-top:0;
  margin-left: 65px;
  width: 140px;
}

.navigation-link,
.navigation-link-current {
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  display:block;
  padding:20px 17px;
}

.navigation-link-current {
  text-decoration: underline;
}

.user-menu-item{
  display:block;
  padding:20px 20px;
  min-width:18px;
  min-height:18px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  /* оставил подчеркивания, не совсем понимаю как мне прижать
  элементы навигации к правому краю этого блока, чтобы при добавлении
  новых они вставали слева и не меняли положение кнопки "хочу сюда* */
}

.user-menu-item.button {
  padding-top:10px;
  padding-bottom:10px;
}

.main-container {
  flex-grow: 1;
  padding-top:46px ;
}

.button {
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  /* на этом этапе вроде не нужно задавать эту тему, но я решил попробовать с закруглениями */
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 21px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/main/index-background-2.jpg");
  /* вот здесь у меня нюанс - нужно ли делать картинку которую я обьединил с номером -2? Или я могу взять index-background.jpg + index-background-frame+ сделать прямоугольник в СSS? */
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* класс для того чтобы все содержимое было заужено относительно основной страницы */
.page-inner-container {
  width: 1057px;
  margin: auto;
  color: #ffffff;
  padding-top:35px;
  /* оставил подчеркивание чтобы было видно эту зауженную рамку */
}

.sedona-logo-link {
  display: block;
  margin: 0 auto;
}

.sedona-logo-welcome{
  display: block;
  margin:0 auto;
  margin-bottom:146px;
}

.main-inner {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/catalog/catalog-background.jpg");
  /* вот здесь у меня нюанс - нужно ли делать картинку которую я обьединил с номером -2? Или я могу взять index-background.jpg + index-background-frame+ сделать прямоугольник в СSS? */
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
}

.sedona-definition {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-bottom:80px;
}


.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-list-item {
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
}

.item-container {
  display: flex;
}

.item-container:last-child {
  display: flex;
  flex-direction: row-reverse;
}

.info-container {
  width: 400px;
}

.advantages-title,
.advantages-description-clarification-header {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
  margin:0;
  margin-top:98px;
  margin-bottom:76px;
}

.advantages-description-clarification-header {
  margin-top:184px;
  margin-bottom: 20px;
}

.advantages-description,.advantages-description-clarification {
  margin:0;
  margin-bottom: 79px;
  height:73px;
  /* cогласно макету */
}


.advantages-description-clarification-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.advantages-description-clarification-item {
  width: 400px;
}

.advantages-description-clarification-item:first-child {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-1.png");
  background-size: 100% auto;
}

.advantages-description-clarification-item:nth-child(2) {
  color: #000000;
  background-color: #ffffff;
}

.advantages-description-clarification-item:nth-child(3) {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-1.png");
  background-size: 100% auto;
}

.advantages-list-item:nth-child(3),
.advantages-list-item:nth-child(5) {
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-1.png");
  background-size: 100% auto;
  margin-bottom: 91px;
}

.advantages-list-item:nth-child(4) {
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-2.png");
  background-size: 100% auto;
  margin-bottom: 91px;
}

.hotel-finder {
  background-size: 1200px 417px;
  /* это для себя для примерной разметки */
}

.hotel-finder-title {
  margin:0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-finder-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 73px;
}

.hotel-finder-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display:inline-block;
  border-radius: 10px;
  width:575px;
  padding:17px 0px;
  margin-bottom:91px;
}

.newsletter {
  color: #ffffff;
  background-size: 100% auto;
  background-image: url("../img/main/newsletter-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-form-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  height:50px;
  margin:0;
  margin-top:94px;
  margin-bottom: 15px;
}

.newsletter-form-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  height:72px;
  margin-bottom:26px;
}

.catalog-items {
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-container {
  /* добавил контейнер для формы отправки , пока на всякий случай */
  display:flex;
  justify-content: center;
  height:60px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.newsletter-email{
  margin:0;
  padding:0;
}

input[type="Email"] {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  width:600px;
  border-radius: 10px;
  border:none;
  padding:20px;
  /* пока не точно */
}

.button.subscribe {
  color: #ffffff;
  background-color: #83b3d3;
}

.phone-number-link {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 240px;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
  /* разместил свойство текста для адекватного расположения надписи по макету */
}

.newsletter,
.newsletter-catalog {
  width: 100%;
  margin-bottom: 40px;;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.social-links {
  margin-left: 72px;
  max-width: 120px;
}

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  list-style-type: none;
}

.social-links-item{
  width:20px;
  height:20px;
  margin-right:30px;
  margin-bottom:8px;
}

.social-links-item:nth-child(3n){
margin-right: 0;
}

.phone-number {
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  /* не понимаю почему эта секция занимает ОГРОМНЫЙ прямоугольник, при том что я не задавал ей размеры */
  width: 720px;
  margin-left: 62px;
}

.site-makers-link {
  width: 120px;
  margin-right: 72px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}
/* кнопки внизу иконками на этом этапе пока не заменял */
.button.filter {
  color: #ffffff;
  background-color: #83b3d3;
}

.button.return {
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  background-color: inherit;
  text-transform: none;
}

.main-inner-title{
font-weight: 700;
font-size: 60px;
margin:0;
margin-bottom:5px;
line-height: 78px;
}

.breadcrumbs-list{
  display:flex;
  margin:0;
  padding:0;
  list-style-type: none;
  margin-bottom:45px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-right: 26px;
}

.catalog-filters {
  margin-bottom:86px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filters-form {
  display: flex;
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.catalog-filter-groups:first-child {
  width: 150px;
  margin-right: 67px;
}

.catalog-filter-groups:nth-child(2) {
  width: 150px;
  margin-right: 167px;
}

.buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 160px;
  margin-left: 81px;
}

.sorting-container{
  display:flex;
  margin-bottom:45px;
}

.visual-sort-list{
  display:flex;
  margin:0;
  padding:0;
  list-style-type: none;
  margin-left:auto;
}

.visual-sort-item{
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  /* оставил чтобы было видно кнопки */
  width:16px;
  height:14px;
  padding:16px 17px;
  margin-right:8px;
}

.visual-sort-item:last-child{
  margin-right:0;
}

.search-results {
  margin:0px;
  padding:0px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right:185px;
  /* здесь отступ сделал не по макету, пока не понимаю почему
  надпись вниз переносится */
}

.type-control {
  margin:0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding:12px;
  padding-right:60px;
  margin-right:81px;
  width:287px;
}

.hotel-cards-items {
  margin:0;
  padding:0;
  padding-top:31px;
  padding-bottom:31px;
  /* я так понимаю что карточки отелей будут оформлены как гриды?
  нужно ли создать отдельый контейнер для всех карточек отелей? */
}

.hotel-cards-items:nth-child(5){
  margin-bottom:31px;
}

.hotel-cards-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
}

.favourites {
  background-color: #83b3d3;
  font-size: 16px;
}

.hotel-cards-rating {
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
}

.load-all {
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.button.load-all{
  padding:10px;
  margin-left:248px;
  margin-bottom:61px;
  /* надо ли выносить кнопку в отдельный контейнер? */
  width:625px;
}

.pagination{
  display:flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-container{
  display:flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.number-selection{
  font-size: 18px;
  line-height: 26px;
  margin-left: auto;
  align-self: center;
}

.pagination-link {
  display:block;
  box-sizing: border-box;
  text-decoration: none;
  width:55px;
  height:55px;
  padding:17px;
  color: #ffffff;
  font-weight: 700;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
