@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.page-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 410px;
  margin-left: 71px;
  /* размер с запасом на элемент */
}
.user-menu {
  max-width: 270px;
  /* размер с запасом на элемент */
  margin-left: auto;
  margin-right: 72px;
}

.navigation-logo {
  margin-right: 210px;
  /* пока решил что таким свойством будет проще всего выровнять этот элемент внутри шапки, но не уверен  */
  width: 140px;
}

.navigation-link,
.navigation-link-current {
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}
.navigation-link-current {
  text-decoration: underline;
}

.main-container {
  flex-grow: 1;
}

.button {
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  /* на этом этапе вроде не нужно задавать эту тему, но я решил попробовать с закруглениями */
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 21px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/main/index-background-2.jpg");
  /* вот здесь у меня нюанс - нужно ли делать картинку которую я обьединил с номером -2? Или я могу взять index-background.jpg + index-background-frame+ сделать прямоугольник в СSS? */
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* класс для того чтобы все содержимое было заужено относительно основной страницы */
.page-inner-container {
  width: 1056px;
  margin: auto;
  color: #ffffff;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  /* оставил подчеркивание чтобы было видно эту зауженную рамку */
}

.sedona-logo-link {
  display: block;
  margin: 0 auto;
}

.main-inner {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/catalog/catalog-background.jpg");
  /* вот здесь у меня нюанс - нужно ли делать картинку которую я обьединил с номером -2? Или я могу взять index-background.jpg + index-background-frame+ сделать прямоугольник в СSS? */
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
}

.sedona-definition {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-list-item {
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
}

.item-container {
  display: flex;
}

.item-container:last-child {
  display: flex;
  flex-direction: row-reverse;
}

.info-container {
  width: 400px;
}

.advantages-title,
.advantages-description-clarification-header {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
}

.advantages-description-clarification-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-description-clarification-item {
  width: 400px;
}

.advantages-description-clarification-item:first-child {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-1.png");
  background-size: 100% auto;
}

.advantages-description-clarification-item:nth-child(2) {
  color: #000000;
  background-color: #ffffff;
}

.advantages-description-clarification-item:nth-child(3) {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-1.png");
  background-size: 100% auto;
}

.advantages-list-item:nth-child(3),
.advantages-list-item:nth-child(5) {
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-1.png");
  background-size: 100% auto;
}

.advantages-list-item:nth-child(4) {
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icons/background-advantages-2.png");
  background-size: 100% auto;
}

.hotel-finder {
  background-size: 1200px 417px;
  /* это для себя для примерной разметки */
}

.hotel-finder-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-finder-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hotel-finder-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  color: #ffffff;
  background-color: #83b3d3;
  background-size: 100% auto;
  background-image: url("../img/main/newsletter-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-catalog {
  height: 411px;
  text-align: center;
}

.newsletter-form-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-form-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.catalog-items {
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

input[type="Email"] {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.button.subscribe {
  color: #ffffff;
  background-color: #83b3d3;
}

.phone-number-link {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 240px;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
  /* разместил свойство текста для адекватного расположения надписи по макету */
}

.newsletter,
.newsletter-catalog {
  width: 100%;
}

.social-links {
  margin-left: 72px;
  max-width: 120px;
}

.phone-number {
  width: 720px;
  margin-left: 62px;
}

.site-makers-link {
  width: 120px;
  margin-right: 72px;
}
/* кнопки внизу иконками на этом этапе пока не заменял */
.button.filter {
  color: #ffffff;
  background-color: #83b3d3;
}

.button.return {
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  background-color: inherit;
  text-transform: none;
}

.main-inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.catalog-filters-form {
  display: flex;
}

.catalog-filter-groups:first-child {
  width: 150px;
  margin-right: 67px;
}

.catalog-filter-groups:nth-child(2) {
  width: 150px;
  margin-right: 167px;
}

.buttons-list {
  margin: 0;
  padding: 0;
  max-width: 160px;
  margin-left: 81px;
}

.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.type-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.hotel-cards-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
}

.favourites {
  background-color: #83b3d3;
  font-size: 16px;
}

.hotel-cards-rating {
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
}

.load-all {
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.pagination-link {
  color: #ffffff;
  font-weight: 700;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
